@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
* {
  margin: 0;
  padding: 0;
  color: silver;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  float: right;
  margin: 15px;
}
header a {
  text-decoration: none;
  font-size: 13px;
  font-style: normal;
}
header a:hover {
  text-decoration: underline;
}
header a, button {
  margin-left: 10px;
}
header button {
  background-color: #4c8bf5;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  padding: 10px;
  border-radius: 4px;
}
section {
  clear: both;
  margin-left: 35%;
  max-width: fit-content;
  position: absolute;
  top: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}
.text {
  display: flex;
}
